* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  width: 100vw;
  height: 50px;
  background-color: rgb(161, 82, 18);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .Header {
    font-size: 11px;
  }
}

@media screen and (max-width: 350px) {
  .Header {
    font-size: 10px;
  }
}
