.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
}

.InDark {
  background-color: rgb(28, 28, 28);
  color: white;
}

.darkModeSet {
  position: absolute;
  height: 40px;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  border: none;
  top: 4px;
  left: 8px;
  background-color: white;
  cursor: pointer;
}

.InDark .Gallery img {
  border: 2px solid white;
}

.InDark .PostsList {
  background-color: rgb(28, 28, 28);
}

.InDark .modalPost {
  color: black;
}

.InDark .darkModeSet {
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .darkModeSet {
    height: 30px;
    width: 50px;
    font-size: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 350px) {
  .darkModeSet {
    left: 2px;
    width: 30px;
    font-size: 8px;
  }
}
